# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
# Integer is a whole number 
two = 2

##### Assinging float

In [ ]:
# Float is a number with a decimal 
dem = 2.0

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
5 + two

7

##### Subtraction

In [ ]:
print(two - 10)
#long hand version 
two = two - 10
print(two)

#short hand version
two -= 10

-8
-8

##### Multiplication

In [ ]:
print( 5 * two)

-90

##### Division

In [ ]:
print(6 / two)

-0.3333333333333333

##### Floor Division

In [ ]:
print (6//two)

-1

##### Modulo

In [ ]:
print(7 % two)

-11

##### Exponential

In [ ]:
print(4 ** two)

1.4551915228366852e-11

### String Input-Output

##### String Assignment

In [ ]:
word = "hello world"

print(type (word))

<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
# end by default is new line /n can overwrite by adding end argument
print(word, end = " currie")

hello world currie

##### String Concatenation

In [ ]:
first_name = 'Agent'
last_name = 'Smith'
full_name = first_name +  ' ' + last_name
print(full_name)
my_name = 'dylan'
my_name = my_name + ' smith'
print(my_name.title())

Agent Smith
Dylan Smith

##### Type Conversion

In [ ]:
print(two, type(two))
str(two)
two = str(two)
print(two, type (two))

-18 <class 'int'>
-18 <class 'str'>

##### input()

In [14]:
# input() takes a prompt as an argument 
#always returns a string 

User_name = input ('What is your name? ')

In [ ]:
print(user_name)

In [ ]:
user_age = input('What is your age? Enter in digits ')

What is your age? Enter in digits 100.

In [ ]:
#must convert input to int to perform math operations
userage = int(user_age)
user_age += 1
print(user_age)

##### format()

In [ ]:
print('User is {} year old' .format(user_age))

User is 100. year old

In [ ]:
print(f"User is {user_age} years old")

##### Old Way (python 2)

In [ ]:
print('User %s is  %s years old (%user_name,%user_age)')

User %s is  %s years old %user_name,%user_age
User is 100. years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
color = input('Enter a color:\n')
print('\n')
year = input ('Enter a year:\n')
print('\n')
make = input('Enter a make:\n')
print('\n')
model = input('Enter a model:\n')
print('\n')

print(f"\nThe car is a {color} {year} {make} {model}.")

Enter a color:
White


Enter a year:
2008


Enter a make:
Cadillac


Enter a model:
CTS



The car is a White 2008 Cadillac CTS.

### If Statements

In [ ]:
# if (boolean):

if True:
    print("condition true")

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)
if 5 > 4:
    print('five > 4')
if 5 < 4: 
    print('five < 4')
if 5 == 5:
    print('5==5')
if 5 + 5 > 9:
    print('10 > 9')
    
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

five > 4
5==5
10 > 9

 'is' keyword

False
O N True
False

in' keyword

In [ ]:
# membership check 
character = "Neo"
# case sensitive 
print('n' in character)

print('O','N','E' in 'NEO')
print('0' in 'neo')

'not in' keyword'

In [ ]:
if 'z' not in character 
    print(no z in Neo)

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
user_input = input("input something: \n")
if 'p' not in user_input:
    print('There is no p in your input')
else:
    print('There is a p in your input.')

input something:
pie
There is a p in your input.

## Using 'and'/'or' with If Statements

 Elif Statements

In [ ]:
if 5 + 5 == 10:
    print('10==10')
elif ('100 > 99')

# check both conditions 
if 5 + 5 == 10:
    print('10==10')
if 100 > 99:
    print('100 > 99')

if False:
    print('false')
elif 0: 
    print('')
elif 1:
    print('1')

Else Statements

In [ ]:
# see above

if 'a' in 'morpheous':
    print(' a in morpheous')
else:
    print('no a in morpheous')
    
if 'a' in 'neo':
    print('a in neo')
elif 'n' in 'neo':
    print('n in neo')
else:
    print('no a or n in neo')

no a in morpheous
n in neo

### For Loops

In [ ]:
#for keyword, loop variable, in iterable
counter = 0
for x in 'neo is the one':
    print(x)
    counter+= 1
print(counter)

n
e
o

i
s

t
h
e

o
n
e
14

In [ ]:
#range is not-inclusive
for num in range (10):
    print(num)
    
#range(start,stop,step)
#step defaults to 1 
for num in range (1,11):
    print(num)

for num in range(2,21,2)

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for num in range(10)
    if num == 5:
        continue
    print(num)

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for num in range(10):
    if num == 5:
        beak 
    print(num)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
def get_user_age():
    pass
def calculate_age():
    pass

##### Double For Loops

In [ ]:
for num in range(5):
    for char in "sean":
        print(num, char)

0 s
0 e
0 a
0 n
1 s
1 e
1 a
1 n
2 s
2 e
2 a
2 n
3 s
3 e
3 a
3 n
4 s
4 e
4 a
4 n

### While Loops

In [ ]:
# key while , condition to keep looping
num = 0
while num < 100:
    print(num)
    num += 1
print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

##### Looping 'While True'

In [ ]:
i =
while True:
    print('hello')
    i+=1
    print(i)
    if i == 100:
        break

##### While & For Loops Used Together

In [ ]:
num = 0 
while num < 5:
    for char in 'sean'
        print(num, ' ', char)
    num+=1

### Built-In Functions

##### range()

In [ ]:
# range (start, stop,step)
# only one required argument - would be stop
# start defaults to 0 and step defaults to 1 
print(range(10))

##### len()

In [ ]:
len('sean currie')
instructor = 'sean currie'
for i in range (len (instructor)):
    print (i, end= " ")
    print

##### help()

In [ ]:
help(range
    )

##### isinstance()

In [ ]:
print(isintance,(i))

##### abs()

In [ ]:
abs(-5) == abs(5)

### Try and Except

In [ ]:
try:
    user_age = input('what is your age')
except:
    print('Error Enter age in digits')

### Lists

##### Declaring Lists

In [ ]:
# Declare a list wit h []

new_list =[]

print(type(new_list))

##### Indexing a List

In [6]:
# index with bracket notation 
student = ['ray','christopher','alec' ,'gian','john']
student[2]
print(student[2])
#Indecie are Integers can do any math operations 
print(student[1+1+2])
#-1 starts at the end of list 
student[-1]
student[-2]

alec
john

'gian'

##### .append()

In [ ]:
# Add on element at the end of list
#Dot notation 
print(students)
#append only take 1 argument 
students.append('will')
print(students, 'after append;)
# built in func
students.append('will')

In [ ]:
# 2D List 
matrix = []
matrix.append ([1,2,3])
matrix.append ([1,0,1,0])
matrix.append ([0,0,1,1])

print(matrix)

##### .insert()

In [19]:
# insert an element into a specifed position 
print(student)
student.insert(0,'keivn')
print(student,'after insert')
student.insert(3,'Andy')
print(student)

['keivn', 'keivn', 'ray', 'AndyAndyAndy', 'christopher', 'alec', 'gian', 'john']
['keivn', 'keivn', 'keivn', 'ray', 'AndyAndyAndy', 'christopher', 'alec', 'gian', 'john'] after insert

TypeError: Value after * must be an iterable, not int

##### .pop()

In [ ]:
#Remove element at a given index. Defaults to last element (-1)
#store the popped value, option

print(students)
#students.pop()

removed_student = students.pop(2)
print(student)
print(f'Removed from list{removed_student}')

students.pop(0)
print(students)


##### .remove()

In [ ]:
# remove an element that is passed in as an argument 
student.remove('kevin')
print(f'{student} after remove'})

In [17]:
#How to remove multiple instances of an item in a list 

while 'Andy' in student:
    student.remove ('Andy')
    students.count('Andy')
print(student)

['keivn', 'ray', 'christopher', 'alec', 'gian', 'john']

 del()

In [ ]:
# del is a built in function not a method

##### Concatenating Two Lists

In [20]:
students_list_2 = ['yea','todd','andy','william']
student_list_1 = ['kevin','ray','chris','alec']
print(student_list_1+ student_list_2)
cohort = student_list_1 + student_list_2
print(cohort)
students += students_list_2

print()

['keivn', 'keivn', 'keivn', 'ray', 'AndyAndyAndy', 'christopher', 'alec', 'gian', 'john']

##### Lists Within Lists

In [ ]:
# see above

##### Looping Through Lists

In [23]:
# for loop through students
for e in student:
    print(e, end =" ")

# Loop through with indecies 
for i in range(len(student))

keivn keivn keivn ray AndyAndyAndy christopher alec gian john

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [24]:
for x in range(1,101):
    if x ** 3 <1000:
        print(x)
        x+=1
    else:
        break
print(x)

1
2
3
4
5
6
7
8
9
10

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didnâ€™t
# An else after a for runs if thefor x in range(100):
for num in range(2, 101):
    prime = 1
    for x in range(2, num):
        if num % x == 0:
            prime = 0
            break
    if prime:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = input("what is your age?")
age = int(age)
if age < 18:
    print('kids')
elif age >= 18 and 65:
    print("adults")
else:
    print("Error, please enter digit")

In [ ]:
14